body {
  background-color: #212121;
  font-family: arial;
  color: #fff;
}

.instructions {
  margin-top: 40px;
  margin-left: 80px;
}
.column {
  float: left;
  width: 500px;
  margin: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#reset_wheel {
  visibility: hidden;

  color: #fff;
  text-decoration: none;
  margin-top: 40px;
  display: block;
}

#spin_button {
  width: 200px;
  height: 40px;
  background-color: #ee1c24;
  border-color: #a70505;
  color: #fff;
  font-size: 20px;
}

/* Sets the background image for the wheel */
td.the_wheel {
  background-image: url(../img/wheel_back.png);
  background-position: center;
  background-repeat: none;
}

/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

div.power_controls {
  width: 200px;
  margin-right: 70px;
}

/* Styles for the power selection controls */
table.power {
  width: 100%;
  cursor: pointer;
  border: 1px solid #333333;
}

table.power th {
  background-color: #fff200;
  color: #000;

  font-size: 20px;
  cursor: default;
}

td.pw1 {
  background-color: #ff9090;
}

td.pw2 {
  background-color: #ff4f4f;
}

td.pw3 {
  background-color: #fb0000;
}

/* Style applied to the spin button once a power has been selected */
.clickable {
  cursor: pointer;
}

/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}
